<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Student_Management_Systeam.Properties.Settings.DB_Student_Mannagement_SysteamConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DB_Student_Mannagement_Systeam;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>